// Global variable overrides. Must be declared before importing Valo.
$v-app-loading-text: "Trader webapp";

$v-font-family: "Source Sans Pro", sans-serif;
$v-app-background-color: #C0C0C0;
$v-background-color: #eee;
$v-focus-color: #00B982;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 0px solid v-shade;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";



@mixin mytheme {
  @include valo;
  
  	h1{
  		color: #FFFFFF;
  	}
  
  	.shadow{
  		box-shadow: 20px 20px 40px;
  	}
  
	.label{
		color: #FFFFFF;
	}
	
	.disabledlabel{
		color: #222222;
	}  
	
	.layout{
		background-color: #003748;
		height: 100%;
	}
	
	.menu-and-content{
		background-color: #003748 !important;
		bottom: 0;
		height: 100%;
		overflow: auto !important;
	}
	
	.menu{
		background: lighten(#606060, -10%) !important;
		height: 100%;
		bottom: 0;
	}
	
	.height-95{
		height: 95%;
	}
	
	.height-100{
		height: 100%;
	}
	
	.v-slot-menu-and-content{
		height: 95%;
	}
	
	.batton{
		background: #606060;
		color: #AAAAAA;
    	outline: none;
    	-webkit-transition: all, 0.4s, linear;
    	-moz-transition-timing: all, 0.4s, linear;
    	-o-transition-timing-function: all, 0.4s, linear;
    	transition-timing-function: all, 0.4s, linear;
	}
	
	.batton:hover{
		background: #00B982;
		color: #FFFFFF;
		transform: scale(1.1,1.1);
		z-index: 100;
	}
	
	.v-button:focus:after{
		border-color: none;
		webkit-box-shadow: none;
		box-shadow: none;
	}﻿
	
	.batton:active{
		transform: scale(0.9, 0.9);
	}
	
	.batton2{
		background: #00B982;
		color: #FFFFFF;
		-webkit-transition: all, 0.4s, linear;
    	-moz-transition-timing: all, 0.4s, linear;
    	-o-transition-timing-function: all, 0.4s, linear;
    	transition-timing-function: all, 0.4s, linear;
	}
	
	.batton2:active{
		transform: scale(0.9, 0.9);
	}
	
	.activebutton { 
		background: #00B982;
		color: #FFFFFF;
	}
	
	.textfield {
		background-color: #003748;
		color: #FFFFFF;
	}
	
	.textfield:disabled {
		background-color: #002637;
		color: #000000;
		border-color: #222222;
	}
	
	.usernametextfield {
		background-image: url(icons/usericon.png);
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-color: #003748;
		background-position: 5px 10px;
		padding-left: 25px;
		color: #FFFFFF;
	}
	
	.jqplot-xaxis-tick{
		color: white !important; 
	}
	
	.jqplot-highlighter-tooltip{
		color: white !important;
		background: #003748;
    	border-style: solid;
    	border-width: 2px;
    	border-color: #00B982 !important;
    	font-size: 0.75em;
    	padding: 2px 5px;
   		white-space: nowrap;
    	-moz-border-radius: 0px;
    	-webkit-border-radius: 0px;
    	border-radius: 0px;
	}
	
	.passwordtextfield {
		background-image: url(icons/lockicon.png);
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-color: #003748;
		background-position: 5px 10px;
		padding-left: 25px;
		color: #FFFFFF;
	}
	
	.mailtextfield {
		background-image: url(icons/mailicon.png);
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-color: #003748;
		background-position: 5px 10px;
		padding-left: 25px;
		color: #FFFFFF;
	}
	
	.bankacctextfield {
		background-image: url(icons/credit-cardicon.png);
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-color: #003748;
		background-position: 5px 10px;
		padding-left: 25px;
		color: #FFFFFF;
	}
	
	.v-app .v-filterselect-input,.v-window .v-filterselect-input,.v-popupview-popup .v-filterselect-input {
	    background-color: #003748;
		color: #FFFFFF;
	}
	
	.v-checkbox > label {
		color: #FFFFFF;
	}
	
	.v-tabsheet-tabitem > .v-caption{
		color: #AAAAAA;
	}

	.v-tabsheet-tabitem-selected{
		background: #00B982;
	}
	
	.v-tabsheet-tabitemcell > .v-tabsheet-tabitem-selected .v-caption.v-caption {
            color: #FFFFFF;
    }
    
    .v-tabsheet-tabitemcell{
    	width: 75%;
    }
    
    
    //////////////////////////////
    
    .v-widget,
	.v-caption,
	.v-app input {
	  font-size: 16px;
	}
	
	.h1,
	.h2 {
	  font-family: "Helvetica Neue", Arial, sans-serif;
	  font-weight: 300;
	}
	
	.top {
	  background: #ccc;
	  background: linear-gradient(to bottom, #f7f7f7, #e0e0e0);
	  padding: 0 1em .3em; 
	  border-bottom: 1px solid #c5c5c5;
	  
	  .h1 {
	    line-height: 1;
	    font-size: 20px;
	  }
	}
	
	.menu {
	  background: #ddd;
	  width: 200px;
	  border-right: 1px solid #c5c5c5;
	  
	  .v-button {
	    width: 100%;
	    border-radius: 0;
	    border: none;
	    
	    &.selected {
	      background: #1180d4;
	      color: #fff;
	      text-shadow: 0 -1px 1px lighten(#1180d4, -20%);
	      font-weight: bold;
	    }
	  }
	  
	  .v-button-wrap {
	    text-align: left;
	    font-size: 15px;
	    line-height: 30px;
	    border-radius: 0;
	  }
	}
}
